/node_modules
/public/hot
/public/storage
/public/img
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/siga.iml
.idea/vcs.xml
.idea/workspace.xml
pruebajony
composer.lock
